<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hello {{fullname}}</h2>
    <p>link quay trở về trang cá nhân: <a href="/me">click here</a></p>
    <p>Course Page</p>
    <ul>
        {{#each courses}}
        <li>
            <p>đây là bài:
                {{#if this.isSubscribe}}
                {{this.name}} (đã đăng ký)
                {{else}}
                <a href="/course/{{this.idCourse}}">{{this.name}}</a>
                {{/if}}
            </p>
        </li>
        {{/each}}
    </ul>
</body>

</html>